h5 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.card {
    border: none;
}

img {
    margin-left: 10px;
    margin-bottom: 30px;
}

.intensas img {
    margin-left: 45px;
}

.artesanales img {
    margin-left: 45px;
}